<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:1px;margin-bottom:1px;">

     <a th:text="DeveloperTools   " ></a>
 
  <a th:href="@{/}">Home</a>
 
     | &nbsp;
  
   <a th:href="@{/showtransactionpage}">Display Transaction</a>
  
     | &nbsp;

     <a th:href="@{/showgoalpage}">Display Goal</a>
     | &nbsp;

   <a th:href="@{/addtransactionpage}">Add Transaction</a>
   | &nbsp;
  
   <a th:href="@{/creategoalpage}">Create Goal *User</a>
   | &nbsp;

   <a th:href="@{/creategoaladmin}">Create Goal *Admin</a>
   | &nbsp;

   
   <a th:href="@{/signuppage}">User SignUp</a>
   | &nbsp;

   <a th:href="@{/showalluser}">Display User</a>
   | &nbsp;
  
  
  
  
</div>